# Results
/intra_subject/ss/*
!/intra_subject/ss/64ch
/inter_subject/ss/*
!/inter_subject/ss/64ch

# Archived materials from previous project
/archive/

# Misc
__pycache__/
/.git/
._.DS_Store
._filters.py
._plot_channels.py
._main_channel_selection.py
.DS_Store
